**/build
**/.idea
**/*.iml
**/out
**/.gradle
**/.DS_Store
**/.dart_tool
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.vscode

**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

**/android/gradle/wrapper/gradle-wrapper.properties
**/android/.settings/org.eclipse.buildship.core.prefs
**/android/app/.classpath
**/android/app/.project
**/android/app/.settings/
**/.externalNativeBuild
**/build/
